<%- include ('../../partials/header') %>

<style>
    .cls-1{
    fill: #506CF0!important;
    opacity: 60%;
}
.cls-1:hover{
    opacity: 100%;
    transition: all 0.2s ease-out;
}

.cls-2{
    fill: #D5FF5C!important;
    opacity: 60%;
}
.cls-2:hover{
    opacity: 100%;
    transition: all 0.2s ease-out;
}

.cls-3{
    fill: #08E95E!important;
    opacity: 60%;
}
.cls-3:hover{
    opacity: 100%;
    transition: all 0.2s ease-out;
}

.cls-4{
    fill: #E16DDC!important;
    opacity: 60%;
}
.cls-4:hover{
    opacity: 100%;
    transition: all 0.2s ease-out;
}

#left, #right{
    
    margin-left: auto;
    margin-right: auto;
}
#left{width: 900px;}
#right{width: 950px;}

#right { 
    display:none;
}
.bd-placeholder-img{
    width: 250px!important;
}

.plan-text{
    pointer-events:none;
    fill:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}
.plan-date{
    text-align: center!important; font-size: 90%; margin-top:0%!important;margin-bottom:0!important;
    max-width: 250px!important;
  }
  .plan-desc{
    text-align: center!important; font-size: 80%;margin-top:0%!important;margin-bottom:0%!important;margin-bottom:0!important;
    max-width: 250px!important;
  }
  .plan-title{
    text-align: center;margin-top:5%;
    line-height: 25px;
    max-width: 250px!important;
  }

  .popover{
    max-width: 350px;
    max-height: 400px;
    text-align: center!important;
}

</style>


<section class="py-5 text-center container" style="margin-bottom: -75px;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Plan du musée</h1>
        <p class="lead text-muted">Explorez les expositions et le plan du musée sur notre carte interactive</p>
  
        <div id="toggle">
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: #182030;">Étage 1</button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: #182030;">Étage 2</button>
        </div>
        
      </div>
    </div>
    </section>
    <br>



<div id="left">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2085.9 1526.57">
        
    <style>.cls-1{fill:#8dd2f0;}.cls-2{fill:#ecefc0;}.cls-3{fill:#d6e9d2;}.cls-4{fill:#e1c0dc;}.cls-10,.cls-11,.cls-5,.cls-7,.cls-8,.cls-9{fill:none;}.cls-10,.cls-11,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9{stroke:#000;}.cls-10,.cls-5,.cls-6{stroke-width:15px;}.cls-7{stroke-width:10px;}.cls-8{stroke-width:14px;}.cls-9{stroke-width:2px;}.cls-10{stroke-linecap:square;}.cls-11{stroke-width:7px;}</style>
    <g id="Layer_2" data-name="Layer 2">
        
        <a tabindex="0" role="button" class="btn btn-primary" data-toggle="popover_B" data-trigger="focus"
         title="Salle d'exposition B">
            <polyline class="cls-1" points="7.5 55.16 482.8 55.16 486.3 218.06 498.5 223.56 497.6 865.57 5.7 861.87"/>
        </a>

        <a tabindex="0" role="button" class="btn btn-primary" data-toggle="popover_A" data-trigger="focus"
         title="Amphitéatre">
            <polyline class="cls-2" points="635.8 119.36 635.8 862.66 1450.2 862.66 1450.1 117.17 1288.9 74.47 1160.9 53.16 1156 7.07 930 9.16 929.8 46.97 922.9 55.97 757.8 83.47"/>
        </a>

        <a tabindex="0" role="button" class="btn btn-primary" data-toggle="popover_boutique" data-trigger="focus"
         title="Boutique">
            <polyline class="cls-3" points="1603.1 53.06 2078.4 53.06 2078.4 863.16 1587.5 863.16 1586.1 218.06 1607.1 214.37"/>
        </a>
        
        <a tabindex="0" role="button" class="btn btn-primary" data-toggle="popover_C" data-trigger="focus"
         title="Planétarium">
            <circle class="cls-4" cx="322.8" cy="1189.37" r="235"/>
        </a>

    </g>
    <g id="Layer_1" data-name="Layer 1">
        <text x="1710" y="400" class="plan-text">BOUTIQUE</text>
        <text x="875" y="400" class="plan-text">AMPHITÉATRE</text>
        <text x="160" y="400" class="plan-text">SALLE B</text>
        <text x="1150" y="1300" class="plan-text">ACCEUIL</text>
        <text x="160" y="1210" class="plan-text">PLANÉTARIUM</text>


        <g id="svg2"> <path id="path3005" class="cls-5" d="M1144.9,95.4c143.4-2.2,248.3,32.2,355.2,65.7v102l153-1.5V97h475.3V907.1H1637.5l1.2-249.8M1500.2,388.4V906.6H685.8V390.5" transform="translate(-50 -43.93)"/> <path id="path4026" class="cls-5" d="M1637.3,268.6V496.3" transform="translate(-50 -43.93)"/> <path id="path4045" class="cls-6" d="M1660.7,765h-30.4" transform="translate(-50 -43.93)"/> <path id="path4061" class="cls-7" d="M1658.8,765h177.6" transform="translate(-50 -43.93)"/> <path id="path3005-0" class="cls-5" d="M1041,97.6c-143.4-2.2-248.3,32.2-355.2,65.7v102l-153-1.5V99.1H57.5V909.2H548.4V752.5" transform="translate(-50 -43.93)"/> <path id="path3828-8-5-3" d="M370.1,744.7" transform="translate(-50 -43.93)"/> <path id="path4026-8" class="cls-5" d="M548.7,438.9V595.5" transform="translate(-50 -43.93)"/> <path id="path4769" class="cls-8" d="M1206,96.7V51L980,53.1V98.8" transform="translate(-50 -43.93)"/> <path id="path6196" class="cls-9" d="M285.4,908.8v98.9C195,1043,131,1130.9,131,1233.7a241.65,241.65,0,0,0,40.7,134.6m67.4,67.3a241.32,241.32,0,0,0,134.5,40.7c102.9,0,190.7-64,226-154.4H708.1" transform="translate(-50 -43.93)"/> <path id="path4905" class="cls-9" d="M180.8,1359a228.55,228.55,0,0,1-37.1-125.3c0-104.5,69.7-192.7,165.2-220.7m285.2,285.9c-28.1,95.2-116.2,164.8-220.5,164.8a228.4,228.4,0,0,1-123.7-36.1" transform="translate(-50 -43.93)"/> <path id="path6094" class="cls-8" d="M708.1,1459l-113.5-1.7c-127.4,128.7-311.2,100.5-395.2,38.1l-42.7,42.7c-34.2-24.1-61.4-51.7-87.3-87.3l42.7-42.7C37,1301.5,34.2,1132.7,150,1012.7l.1-103.5" transform="translate(-50 -43.93)"/> <path id="path6126" class="cls-6" d="M244,1430.5a279.19,279.19,0,0,0,32.8,18.1M545,1395.3a235.14,235.14,0,0,0,43.1-64.1c2.1-4.6,4-9.2,5.8-14a231.14,231.14,0,0,0,9.9-33.2m.3-99.2a233.1,233.1,0,0,0-30.7-75.9" transform="translate(-50 -43.93)"/> <path id="path6128" class="cls-9" d="M248.1,1426.4,183,1491.5l10.2,10.2" transform="translate(-50 -43.93)"/> <path id="path6130" class="cls-9" d="M180.9,1359.2l-65.1,65.1-10-10" transform="translate(-50 -43.93)"/> <path id="path6126-6" class="cls-5" d="M176.8,1363.3a279.19,279.19,0,0,1-18.1-32.8M212,1062.3a235.14,235.14,0,0,1,64.1-43.1c4.6-2.1,9.2-4,14-5.8a231.14,231.14,0,0,1,33.2-9.9m99.2-.3a233.1,233.1,0,0,1,75.9,30.7" transform="translate(-50 -43.93)"/> <path id="path6224" d="M700.6,1064.5v505.8l523.7.1-.2-15.6-508.5.5V1064.5Z" transform="translate(-50 -43.93)"/> <path id="path6669" class="cls-5" d="M1503.4,1211.2V1068H1182v18.2h-29" transform="translate(-50 -43.93)"/> <path id="path6673" class="cls-10" d="M990.9,1086.2h29" transform="translate(-50 -43.93)"/> <path id="path6673-5" class="cls-10" d="M887.7,1086.2l-179.7.2" transform="translate(-50 -43.93)"/> <path id="path6749" d="M1651.8,1220.4v334.8l-69.6-.1-.1,15.4c53.2,0,31.4-.3,84.6-.3V1220.4Z" transform="translate(-50 -43.93)"/> <path id="path6776" class="cls-9" d="M1023.8,1092.6h132v-13H1024.2" transform="translate(-50 -43.93)"/> <path id="path6835-7" class="cls-7" d="M2073.9,1021.1l.1,460.5H1656" transform="translate(-50 -43.93)"/> <path id="path7001" class="cls-11" d="M2073.9,1024.6h-261l.7,52.1H2076" transform="translate(-50 -43.93)"/> <path id="path7020" class="cls-9" d="M2077.9,1021.1v-114" transform="translate(-50 -43.93)"/> <path id="path4061-2" data-name="path4061" class="cls-7" d="M1949.2,764.9h183.6" transform="translate(-50 -43.93)"/> <circle cx="1697.3" cy="760.77" r="7"/> <path d="M1746.4,856.1v24.4c0,4.4-6.6,4.4-6.7,0V856.1h-8.6l9.3-32.5h-1.5l-5.4,18.5c-1.4,4.1-6.9,2.4-5.6-1.9l6-20a9.57,9.57,0,0,1,8.6-6.5h9.7c4.9.1,7.8,4.2,8.6,6.5l6,20c1.2,4.4-4.3,6.1-5.6,1.9l-5.4-18.5h-1.7l9.5,32.5h-8.8v24.4c.1,4.4-6.5,4.4-6.5,0V856.1Z" transform="translate(-50 -43.93)"/> <circle cx="1985.8" cy="758.77" r="7"/> <path d="M2028.4,811.6c-5.4,0-8.8,4.7-8.8,9.3v21.6a3,3,0,1,0,6,0V822.7h1.5v54.7c-.1,5.7,8,5.6,8,0V845.5h1.3v31.9c.1,5.6,8.2,5.7,8.2,0V822.7h1.5v19.8a3,3,0,1,0,6,0V820.9a9.43,9.43,0,0,0-9.1-9.3Z" transform="translate(-50 -43.93)"/> <path id="path6224-2" data-name="path6224" d="M705,1255l230.3.1-.1-15.6L705,1240" transform="translate(-50 -43.93)"/> <path id="path6224-3" data-name="path6224" d="M1073,1563.1l.1-186.7-15.6.1.5,186.6" transform="translate(-50 -43.93)"/> <path id="path6224-4" data-name="path6224" d="M925.1,1250.4l136.8,136.9,11-11.1L935.7,1239.8" transform="translate(-50 -43.93)"/> <path id="path1312" d="M1878.4,1323.5l18-.1s.1-18.3.2-18.5l18.2-.4.2-18.8s18.1-.2,18.4-.4.4-18.3.7-18.4l18.2-.1v-18.5h27.6s0,9.5-.4,9.6l-17.9.1-.1,18.4-18.3.2-.2,18.5-18.3.2-.2,18.5-18.5.2-.1,18.9h-27.8C1877.9,1333.1,1877.9,1323.6,1878.4,1323.5Z" transform="translate(-50 -43.93)"/><g id="layer1"><g id="g841"><g id="layer1-8"><g id="g5653"> <path id="path3495" d="M2045.37,983.08l-1.36-3.59a3.89,3.89,0,0,0-3.6-2.48h-.62V945.9h-29.5v17.23h3.85l4.46-5.58a5.06,5.06,0,0,1,3.72-1.74h9.42a3.93,3.93,0,0,1,3.47,2.11l2.85,5.33a1.86,1.86,0,0,1,.25.87,1.76,1.76,0,0,1-3.35.74l-2.48-4.83h-4.09l3.1,7.81,1,10h8.06a3.34,3.34,0,0,1,2.85,1.86l.87,2.35h-13.89a2,2,0,0,1-2-1.73l-1-8.81-7.44,15.5a2.67,2.67,0,0,1-2.48,1.49h-3.59l9.17-19-2.85-7.19-2.73,3.35a3.94,3.94,0,0,1-3.1,1.49h-4v22.43l6.32,6.32H1997.9V941.68h54.41V996.1h-6.07l-6.32-6.32v-6.7h5.45" transform="translate(-50 -43.93)"/> <path id="path3499" d="M2021.57,991.14l4.84,4.83h-6l-6.32-6.32H2018A6.26,6.26,0,0,1,2021.57,991.14Z" transform="translate(-50 -43.93)"/> </g> </g> <circle id="path831" cx="1969.79" cy="907.8" r="3.9"/> </g> </g> </g>
    </svg>
</div>

<div id="right">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 2200 1753.9" style="enable-background:new 0 0 2200 1753.9;" xml:space="preserve">
    <style type="text/css">  .st0{fill:#ECEFC0;}  .st1{fill:#D6E9D2;}  .st2{fill:#E1C0DC;}  .st3{fill:#8DD2F0;}  .st4{display:none;}  .st5{fill:none;stroke:#000000;stroke-width:15;}  .st6{fill:none;stroke:#000000;stroke-width:15;stroke-linecap:square;}  .st7{fill:none;stroke:#000000;stroke-width:10;}  .st8{fill:none;stroke:#000000;stroke-width:7;}  .st9{fill:none;stroke:#000000;stroke-width:2;}  .st10{fill:none;stroke:#000000;stroke-width:14;}  </style>
    <g id="Layer_2">
     
        <a tabindex="0" role="button" class="btn btn-primary" data-toggle="popover_D" data-trigger="focus"
         title="Salle d'exposition D">
            <polygon class="cls-3" points="51,96.4 54.9,910 545.8,910 548.8,266.6 529.7,260.1 530.4,102.1 	"/>
        </a>

        <a tabindex="0" role="button" class="btn btn-primary" data-toggle="popover_F" data-trigger="focus"
        title="Salle d'exposition F">
           <polygon class="cls-2" points="1494,267 1493.5,907.1 2124.5,907.1 2124.5,97 1651.3,101.9 1649.2,261.6 	"/>
       </a>
       
        <a tabindex="0" role="button" class="btn btn-primary" data-toggle="popover_E" data-trigger="focus"
         title="Salle d'exposition E">
            <polyline class="cls-1" points="1496.2,267.3 1498.7,905.1 546.7,906.8 547.5,262.9 	"/>
        </a>
        <a tabindex="0" role="button" class="btn btn-primary" data-toggle="popover_bistro" data-trigger="focus"
         title="Bistro des Astres">
            <polyline class="cls-4" points="708.3,1071.9 1502.6,1069.1 1504,1375 1656.7,1375.9 1659.4,1567.6 710.1,1569.5 	"/>
        </a>
    </g>
    <g id="Layer_1">
        <text x="1750" y="500" class="plan-text">SALLE F</text>
        <text x="900" y="500" class="plan-text">SALLE E</text>
        <text x="190" y="500" class="plan-text">SALLE D</text>
        <text x="1150" y="1300" class="plan-text">BISTRO</text>

        <g id="svg2" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"> <g id="layer1" transform="translate(-27.1863,661.34891)" class="st4"> </g> <path id="path3005_00000016770540049315646700000006969373768410328239_" class="st5" d="M1500.2,263.1l153-1.5V97h475.3v810.1 h-309.6h-289.1h-32.3v-22.7"/> <path id="path4026_00000167354348997308997720000011467721894658789278_" class="st5" d="M1497.2,436.7v285.7"/> <path id="path3005-0_00000065040981983533706840000007223360542728651952_" class="st5" d="M1500.2,263.1l-967.4,0.7V99.1H57.5 v810.1h309.6h149h32.3V752.5"/> <path id="path4026-8_00000131351469779192140870000012580768965941445816_" class="st5" d="M548.7,438.9v156.6"/> <path id="path6224" d="M700.6,1064.5v505.8l806.5,0.2l-7.2-15.4l-784.3,0.2v-490.8H700.6z"/> <path id="path6669_00000128445145603829023220000006751810504497445567_" class="st5" d="M1503.4,1211.2V1068h-163.3"/> <path id="path6673-5_00000127727791066494186680000017126353072114189718_" class="st6" d="M1150.9,1071.9l-442.9,0.2"/> <path id="path6749" d="M1651.8,1220.4v334.8l-151.9-0.1l7.2,15.4c53.2,0,106.5-0.3,159.7-0.3c0-116.6,0-233.2,0-349.8 L1651.8,1220.4z"/> <path id="path6835-7" class="st7" d="M2073.9,1021.1l0.1,460.5h-418"/> <path id="path7001" class="st8" d="M2073.9,1024.6h-261l0.7,52.1H2076"/> <path id="path7020" class="st9" d="M2077.9,1021.1v-114"/> <path class="st9" d="M551.9,912.3"/> <path id="path6094_00000048495951021089067710000014001994867628869299_" class="st10" d="M149.4,1464.9l0.1-555.9"/> <path id="path6094_00000011718339030228675100000002912219605644693433_" class="st10" d="M707.6,1458.8l-558.4-0.8"/> <circle cx="1531.3" cy="1434.1" r="7.9"/> <path d="M1530.2,1492.1v27.5c0,5-7.5,5-7.5,0v-27.5h-9.7l10.5-36.8h-1.7l-6.1,20.9c-1.5,4.6-7.8,2.8-6.3-2.2l6.8-22.6 c0.8-2.6,4.1-7.2,9.7-7.3h5.1h5.8c5.5,0.1,8.8,4.7,9.7,7.3l6.8,22.6c1.4,4.9-4.8,6.9-6.3,2.2l-6.1-20.9h-1.9l10.7,36.8h-10v27.5 c0.1,5-7.3,5-7.3,0v-27.5H1530.2z"/> <circle cx="1596.1" cy="1434.1" r="7.9"/> <path d="M1587.7,1444.2c-6.1,0-10,5.3-10,10.5v24.4c-0.1,4.8,6.8,4.8,6.8,0v-22.4h1.7v61.9c-0.1,6.5,9,6.3,9,0v-36h1.5v36 c0.1,6.3,9.3,6.5,9.3,0v-61.9h1.7v22.4c-0.1,4.8,6.7,4.8,6.8,0v-24.4c-0.1-5.2-4.1-10.4-10.2-10.5H1587.7z"/> <rect x="1559.7" y="1427.1" width="9" height="95.7"/> <path id="path1312" d="M1884.3,1315.8l18-0.1c0,0,0.1-18.3,0.2-18.5l18.2-0.4l0.2-18.8c0,0,18.1-0.2,18.4-0.4 c0.2-0.2,0.4-18.3,0.7-18.4l18.2-0.1v-18.5h27.6c0,0,0,9.5-0.4,9.6l-17.9,0.1l-0.1,18.4l-18.3,0.2l-0.2,18.5l-18.3,0.2l-0.2,18.5 l-18.5,0.2l-0.1,18.9H1884C1883.8,1325.4,1883.8,1316,1884.3,1315.8z"/> <path id="path3005-0_00000071555433722844900180000011821781267762651280_" class="st5" d="M577.1,1070.3h-28.7V904.6"/> <path class="st9" d="M551.9,1073.4"/> <g id="layer1_00000050637781115842064780000008867418057498053562_" transform="translate(-61.214337,-15.767909)"> <g id="g841"> <g id="layer1-8" transform="matrix(0.26458333,0,0,0.26458333,-81.713247,84.928812)"> <g id="g5653" transform="matrix(4.6848915,0,0,4.6848915,-1145.8937,-2197.6612)"> <path id="path3495" d="M2008.7,1205.9l-1.1-2.9c-0.5-1.2-1.6-2-2.9-2h-0.5v-25.1h-23.8v13.9h3.1l3.6-4.5 c0.7-0.8,1.8-1.4,3-1.4h7.6c1.2,0,2.3,0.7,2.8,1.7l2.3,4.3c0.1,0.2,0.2,0.4,0.2,0.7c0,0.8-0.7,1.4-1.4,1.4 c-0.6,0-1-0.3-1.3-0.8l-2-3.9h-3.3l2.5,6.3l0.8,8.1h6.5c1,0,1.9,0.7,2.3,1.5l0.7,1.9h-11.2c-0.8,0-1.5-0.6-1.6-1.4l-0.8-7.1 l-6,12.5c-0.3,0.7-1.1,1.2-2,1.2h-2.9l7.4-15.3l-2.3-5.8l-2.2,2.7c-0.5,0.7-1.5,1.2-2.5,1.2h-3.2v18.1l5.1,5.1h-15.2v-43.9 h43.9v43.9h-4.9l-5.1-5.1v-5.4h4.4"/> <path id="path3499" d="M1989.5,1212.4l3.9,3.9h-4.8l-5.1-5.1h3.1C1987.7,1211.2,1988.8,1211.7,1989.5,1212.4z"/> </g> </g> <circle id="path831" cx="2079.5" cy="966.9" r="3.9"/> </g> </g> <path id="path6669_00000145741008126822096500000000285739675280108189_" class="st5" d="M1653.2,1370.4h-238.3"/> <path id="path6669_00000115496351198992283000000015649822195156554124_" class="st5" d="M979.2,1557.5v-479.9"/> </g> <path id="path4026_00000156559796388382008620000009125119533434665344_" class="st5" d="M1224.7,907.2h279.7"/> <path id="path4026_00000018211725918323838540000008204554360668130467_" class="st5" d="M535.7,909.3h294.9"/>
    </g>
    </svg>
</div>

<br><br><br><br><br><br>

<script>
    function generatePopoverContent(salle){
        content='';

        switch(salle) {
        case 'A':
            content = `                 <% items.forEach(function(item,index){%>                     <% if(item.salle == "A"){ %>                         <% if(item.date_fin != undefined  && item.date_debut <= new Date() && item.date_fin > new Date()){ %>                             <img class="bd-placeholder-img card-img-top" src="<%= item.image %>">                             <h5 class="plan-title">                                 <%= item.titre %>                             </h5>                             <i><p class="plan-date">                             <% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>                                         Du <%= new Date(item.date_debut).getDate()%> <%= months[new Date(item.date_debut).getUTCMonth()]%> au <%= new Date(item.date_fin).getDate()%> <%= months[new Date(item.date_fin).getUTCMonth()]%> <br>                             </p></i>                             <p class="plan-desc">                                 <%- item.desc %>                             </p>                                              <% };};}); %>`;
            break;
        case 'B':
            content = `                 <% items.forEach(function(item,index){%>                     <% if(item.salle == "B"){ %>                         <% if(item.date_fin != undefined  && item.date_debut <= new Date() && item.date_fin > new Date()){ %>                             <img class="bd-placeholder-img card-img-top" src="<%= item.image %>">                             <h5 class="plan-title">                                 <%= item.titre %>                             </h5>                             <i><p class="plan-date">                             <% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>                                         Du <%= new Date(item.date_debut).getDate()%> <%= months[new Date(item.date_debut).getUTCMonth()]%> au <%= new Date(item.date_fin).getDate()%> <%= months[new Date(item.date_fin).getUTCMonth()]%> <br>                             </p></i>                             <p class="plan-desc">                                 <%- item.desc %>                             </p>                                              <% };};}); %>`;
            break;
        case 'C':
            content = `                 <% items.forEach(function(item,index){%>                     <% if(item.salle == "C"){ %>                         <% if(item.date_fin != undefined  && item.date_debut <= new Date() && item.date_fin > new Date()){ %>                             <img class="bd-placeholder-img card-img-top" src="<%= item.image %>">                             <h5 class="plan-title">                                 <%= item.titre %>                             </h5>                             <i><p class="plan-date">                             <% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>                                         Du <%= new Date(item.date_debut).getDate()%> <%= months[new Date(item.date_debut).getUTCMonth()]%> au <%= new Date(item.date_fin).getDate()%> <%= months[new Date(item.date_fin).getUTCMonth()]%> <br>                             </p></i>                             <p class="plan-desc">                                 <%- item.desc %>                             </p>                                              <% };};}); %>`;
            break;
        case 'D':
            content = `                 <% items.forEach(function(item,index){%>                     <% if(item.salle == "D"){ %>                         <% if(item.date_fin != undefined  && item.date_debut <= new Date() && item.date_fin > new Date()){ %>                             <img class="bd-placeholder-img card-img-top" src="<%= item.image %>">                             <h5 class="plan-title">                                 <%= item.titre %>                             </h5>                             <i><p class="plan-date">                             <% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>                                         Du <%= new Date(item.date_debut).getDate()%> <%= months[new Date(item.date_debut).getUTCMonth()]%> au <%= new Date(item.date_fin).getDate()%> <%= months[new Date(item.date_fin).getUTCMonth()]%> <br>                             </p></i>                             <p class="plan-desc">                                 <%- item.desc %>                             </p>                                              <% };};}); %>`;
            break;
        case 'E':
            content = `                 <% items.forEach(function(item,index){%>                     <% if(item.salle == "E"){ %>                         <% if(item.date_fin != undefined  && item.date_debut <= new Date() && item.date_fin > new Date()){ %>                             <img class="bd-placeholder-img card-img-top" src="<%= item.image %>">                             <h5 class="plan-title">                                 <%= item.titre %>                             </h5>                             <i><p class="plan-date">                             <% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>                                         Du <%= new Date(item.date_debut).getDate()%> <%= months[new Date(item.date_debut).getUTCMonth()]%> au <%= new Date(item.date_fin).getDate()%> <%= months[new Date(item.date_fin).getUTCMonth()]%> <br>                             </p></i>                             <p class="plan-desc">                                 <%- item.desc %>                             </p>                                              <% };};}); %>`;
            break;
        case 'F':
            content = `                 <% items.forEach(function(item,index){%>                     <% if(item.salle == "F"){ %>                         <% if(item.date_fin != undefined  && item.date_debut <= new Date() && item.date_fin > new Date()){ %>                             <img class="bd-placeholder-img card-img-top" src="<%= item.image %>">                             <h5 class="plan-title">                                 <%= item.titre %>                             </h5>                             <i><p class="plan-date">                             <% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>                                         Du <%= new Date(item.date_debut).getDate()%> <%= months[new Date(item.date_debut).getUTCMonth()]%> au <%= new Date(item.date_fin).getDate()%> <%= months[new Date(item.date_fin).getUTCMonth()]%> <br>                             </p></i>                             <p class="plan-desc">                                 <%- item.desc %>                             </p>                                              <% };};}); %>`;
            break;
        default:;
        }        
        return content;
    }


    $('#toggle > button').click(function () {
        var ix = $(this).index();

        $('#left').toggle(ix === 0);
        $('#right').toggle(ix === 1);
    });

    $(document).ready(function(){
    $('[data-toggle="popover_A"]').popover({
        placement : 'right',
        animation: true,
		trigger : 'focus',
        html : true,
        content : generatePopoverContent('A')
    });
    $('[data-toggle="popover_B"]').popover({
        placement : 'right',
        animation: true,
		trigger : 'focus',
        html : true,
        content : generatePopoverContent('B')
    });
    $('[data-toggle="popover_C"]').popover({
        placement : 'right',
        animation: true,
		trigger : 'focus',
        html : true,
        content : generatePopoverContent('C')
    });
    $('[data-toggle="popover_D"]').popover({
        placement : 'right',
        animation: true,
		trigger : 'focus',
        html : true,
        content : generatePopoverContent('D')
    });
    $('[data-toggle="popover_E"]').popover({
        placement : 'right',
        animation: true,
		trigger : 'focus',
        html : true,
        content : generatePopoverContent('E')
    });
    $('[data-toggle="popover_F"]').popover({
        placement : 'right',
        animation: true,
		trigger : 'focus',
        html : true,
        content : generatePopoverContent('F')
    });

    $('[data-toggle="popover_boutique"]').popover({
        placement : 'right',
        animation: true,
		trigger : 'focus',
        html : true,
        content : 'boutique'
    });
    $('[data-toggle="popover_bistro"]').popover({
        placement : 'right',
        animation: true,
		trigger : 'focus',
        html : true,
        content : 'bistro'
    });
});

</script>

<%- include ('../../partials/footer') %>
