<%- include ('../../partials/header') %>

<div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
<h1 class="fw-light"><%= item.titre %></h1>

<img src="<%= item.image%>">

<p class="lead text-muted"><%- item.desc %></p>

    <a href="/billeterie" class="btn btn-secondary my-2">Réserver en ligne</a>
    
</div>
<%- include ('../../partials/footer') %>
