<%- include ('../../partials/header') %>
<style>
    .movie-image:hover{
        cursor:initial!important;pointer-events: auto;
    }
</style>

<br><br><br>
<br>

<div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
    <% var expo = false %>
    <% if (item.date_fin != undefined) { expo = true} %>
    <p style="font-size:x-large; font-style: italic;" >
        <% if (expo) { %>
            Exposition
        <% }else{%>
            Activité
        <% }; %>
    </p>
    <h1 class="fw-light"><%= item.titre %></h1>
    <br>
    <img class="movie-image" src="<%= item.image%>" style="width:700px;">
    <br>
    <br>



    <p class="lead text-muted"><%- item.desc %></p>
        
    

    <p class="card-text">
        <% if (expo) { %>
            <% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>
            <%= item.date_debut.getDate()%> <%= months[item.date_debut.getUTCMonth()]%> au <%= item.date_fin.getDate()%> <%= months[item.date_fin.getUTCMonth()]%> <br>
            
        <% }else{%>
            <% var months=["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"];
            %>
            <% var min=item.date_debut.getUTCMinutes() %>
            <% if (min < 10) {min="0" + min} %>
            Le <%= item.date_debut.getDate()%>
            <%= months[item.date_debut.getUTCMonth()]%> à <%= item.date_debut.getHours()%>h<%= min%>
        <% }; %>
        <br>
        Salle : <%= item.salle%>
        <br>
        <%= item.duree %> minutes
    </p>

    <p><%= item.long%></p>

    
    <% if (expo) { %>
        <p>Cela vous intéresse? Réservez votre billet pour cette exposition, ainsi que plusieurs autres, dès maintenant:</p>
        <a href="/billeterie" class="btn btn-secondary my-2">Réserver en ligne</a>
        <br>
        <p>Cette exposition est une des nombreuses que nous présentons en ce moment.</p>
        <a href="/expositions" class="btn btn-primary my-2" style="background-color: #182030;">Voir le reste</a>


    <% }else{%>
        <p>Réservez votre billet pour cette, ainsi que plusieurs autre</p>
        <a href="/billeterie" class="btn btn-secondary my-2">Réserver en ligne</a>
        <br>
        <p>Cette activités est une des nombreuses que nous avons à présenter.</p>
        <a href="/activites" class="btn btn-primary my-2" style="background-color: #182030;">Voir le reste</a>
    <% }; %>
    

</div>
<br><br><br>
<%- include ('../../partials/footer') %>
