<%- include ('../../partials/header') %>
<style>
    .movie-image:hover{
        cursor:initial!important;
        pointer-events: auto;
    }
</style>

<br><br><br>
<br>

<div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
    <% var expo = false %>
    <% if (item.date_fin != undefined) { expo = true} %>
    <p style="font-size:xx-large; font-style: italic;" class="text-muted">
        <% if (expo) { %>
            Exposition
        <% }else{%>
            Activité
        <% }; %>
    </p>
    <h1 class="fw-light"><%= item.titre %></h1>
    <br>
    <img class="movie-image" src="<%= item.image%>" style="width:700px;">
    <br>
    <br>

    <p class="lead text-muted" style="font-size:27px;font-style: italic;"><%- item.desc %></p>
    <br>
    <p style="text-align: left;width: 80%; margin: auto; font-size: x-large; color:darkslategray; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><%= item.long%></p>
    <br>
    <p class="card-text" style="font-size: large; line-height: 30px;">
        Quand: 
        <i><% if (expo) { %>
            <% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>
            Du <%= item.date_debut.getDate()%> <%= months[item.date_debut.getUTCMonth()]%> au <%= item.date_fin.getDate()%> <%= months[item.date_fin.getUTCMonth()]%>
            
        <% }else{%>
            <% var months=["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"];
            %>
            <% var min=item.date_debut.getUTCMinutes() %>
            <% if (min < 10) {min="0" + min} %>
            Le <%= item.date_debut.getDate()%>
            <%= months[item.date_debut.getUTCMonth()]%> à <%= item.date_debut.getHours()%>h<%= min%>
        <% }; %></i>
        <br>
        Où: <i>Salle <%= item.salle%></i>
        <br>
        Durée approximative: <i><%= item.duree %> minutes</i>
    </p>

    <br><br>
    <% if (expo) { %>
        <p style="font-size: x-large!important; font-style: italic; margin-bottom: 0px;">Réservez votre billet pour cette exposition, ainsi que plusieurs autres, dès maintenant:</p>
        <a href="/billeterie" class="btn btn-secondary my-2 btn-lg">Réserver en ligne</a>
        <br><br>
        <p style="font-size: x-large!important; font-style: italic; margin-bottom: 0px;">Cette exposition est une des nombreuses que nous présentons en ce moment</p>
        <a href="/expositions" class="btn btn-primary my-2 btn-lg" style="background-color: #182030;">Voir le reste</a>


    <% }else{%>
        <p style="font-size: x-large!important; font-style: italic; margin-bottom: 0px;">Réservez votre billet pour cette activité, ainsi que plusieurs autres, dès maintenant:</p>
        <a href="/billeterie" class="btn btn-secondary my-2 btn-lg">Réserver en ligne</a>
        <br><br>
        <p style="font-size: x-large!important; font-style: italic; margin-bottom: 0px;">Cette activité est une des nombreuses que nous avons à offrir</p>
        <a href="/activites" class="btn btn-primary my-2 btn-lg" style="background-color: #182030;">Voir le reste</a>
    <% }; %>
    

</div>
<br><br><br>
<%- include ('../../partials/footer') %>
