<%- include ('../../partials/header') %>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } 
</style>

<% if (items !=undefined && items.length>0) {%>

<% isEnCours = new Boolean %>
<% isEnCours = false %>

<% isFutur = new Boolean %>
<% isFutur = false %>

<% items.forEach(function(item,index){ %>
  <% if (item.date_debut > new Date()) {%>
    <% isFutur = true %>
  <% }else {%>
    <% if (item.date_fin > new Date()) {%>
      <% isEnCours = true %>
    <% } %>
  <% } %>
<%}); %>

<main>

  <% if (isEnCours) {%>

  <section class="py-5 text-center container" style="margin-bottom: -75px;">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Expositions à l'affiche</h1>
      <p class="lead text-muted">Les expositions semi-permanentes du musée vous feront découvrir la beauté du monde hors de notre atmosphère - la beautée des Astres.        
        <br><br>Pour découvrir tout ce que le musée a à offrir:</p>

        <a href="/billeterie" class="btn btn-secondary my-2">Réserver en ligne</a>
      
    </div>
  </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
        <% items.forEach(function(item,index){ %>

        <% if (item.date_debut <= new Date() && item.date_fin > new Date()){ %>

        <div class="col" style="margin-bottom:30px">
          <div class="card shadow-sm ">
            
            <a href="/experience/<%= item._id%>"><img class="bd-placeholder-img card-img-top" src="<%= item.image %>"></a>
    
            <div class="card-body">
              <h5><%= item.titre %></h5>
              <p class="card-text"><% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>
                <%= item.date_debut.getDate()%> <%= months[item.date_debut.getUTCMonth()]%> au <%= item.date_fin.getDate()%> <%= months[item.date_fin.getUTCMonth()]%> <br>
                Salle : <%= item.salle%></p>

                <a type="button" href="/experience/<%= item._id%>" class="btn btn-sm btn-outline-secondary" >Détails</a>
                
                <!--div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                      id="Click_<%= item._id%>">Description</button>
                  </div>
                  <small class="text-muted">
                    <%= item.duree %> minutes
                  </small>
                </div>
                <p class="card-text" id="details_<%= item._id%>" style="display: none;">
                  <%= item.desc %>
                </p-->
            </div>
          </div>
        </div>

        <!--script type="text/javascript">
          document.getElementById("Click_<%= item._id%>").onclick = function() {
            if (document.getElementById("details_<%= item._id%>").style.display == "none"){
              document.getElementById("details_<%= item._id%>").style.display = "block";
            } else {
              document.getElementById("details_<%= item._id%>").style.display = "none";
            }
          }
        </script-->
    
        <% } %>

        <%}); %>

      </div>
    </div>
  </div>

  <% }else {%>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Aucune exposition en ce moment</h1>
            <a href="/experiences" class="btn btn-primary my-2" style="background-color: #182030;">Voir les activités</a>
            <a href="/rdv_etoiles" class="btn btn-secondary my-2">Rendez vous sous les étoiles</a>
          </p>
        </div>
      </div>
      </section>

  <% } %>
  
  
  <% if (isFutur) {%>

    <section class="py-5 text-center container">
    <div class="row py-lg-5" style="margin-bottom: -75px; margin-top: -75px;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Expositions à venir</h1>
      </div>
    </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
          <% items.forEach(function(item,index){ %>
  
          <% if (item.date_debut > new Date() && item.date_fin > new Date()){ %>
  
            <div class="col"  style="margin-bottom:30px">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="<%= item.image %>">
        
                <div class="card-body">
                  <h5><%= item.titre %></h5>
                  <p class="card-text"> <% var months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]; %>
                    Commencera le <%= item.date_debut.getDate()%> <%= months[item.date_debut.getUTCMonth()]%> <%= item.date_debut.getFullYear() %> 
                  </p>                  
                </div>
              </div>
            </div>
      
          <% } %>
  
          <%}); %>
  
        </div>
      </div>
    </div>
  
    <% }else {%>
  
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Aucune exposition à venir</h1>
              <a href="/experiences" class="btn btn-primary my-2" style="background-color: #182030;">Voir les activitées</a>
              <a href="/rdv_etoiles" class="btn btn-secondary my-2">Rendez vous sous les étoiles</a>
            </p>
          </div>
        </div>
        </section>
  
    <% } %>
  
</main>

<% }else {%>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Aucune donnée trouvée.</h1>
          <a href="/" class="btn btn-primary my-2" style="background-color: #182030;">Retour à l'accueil</a>
        </p>
      </div>
    </div>
    </section>
<% } %>

<%- include ('../../partials/footer') %>