<%- include ('../../partials/header') %>

<style>
  select{
    width: 80px;
    margin: 10px;
  }
  input + span {
    padding-right: 30px;
  }
  table{
    width: 100%;
  }
  table, thead, th, tr { 
    border-bottom: 1px solid lightgray; 
    padding: 5px;
  } 
  label{
    font-size: large;
  }
  .form-check{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .bodyBillet{
    margin-left: 5%;
    color: #182030;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
  }
  .form{
    background-color: lightgray;
    padding: 2% 2% 2% 2%;
    margin-top: 2%;
    }
  .date{
    border-color: #182030;
    border-width: 3px;
    font-weight: bold;
    width: 200px;
  }
  .select{
    background-color: whitesmoke;
    border-width: 5px;
    border-style: hidden  hidden hidden solid;
    border-color: #182030;
    font-weight: bold;
  }
  .option{
    border-color: #182030;
    border-width: 3px;
  }
  .submit{
    margin-left: auto;
    margin-right: 0%;
    width: 150px;
    font-size: large;
    font-weight: bold;
  }
</style> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  
  $(document).ready(function () {    
    var nom,prenom,email,adresse,telephone,datetime,rdv,film,billets_id;

    $("#submit").click(function () {

      nom = $("#nom").val();
      prenom = $("#prenom").val();
      email = $("#email").val();
      adresse = $("#adresse").val();
      telephone = $("#telephone").val();
      datetime = $("#datetime").val();
      rdv = $("#rdv").is(':checked');
      film = $("#film").is(':checked');

      billets_id = [];
      billets_id.push($("#ticket_1").val());
      billets_id.push($("#ticket_2").val());
      billets_id.push($("#ticket_3").val());
      billets_id.push($("#ticket_4").val());
      billets_id.push($("#ticket_5").val());
      billets_id.push($("#ticket_6").val());
      billets_id.push($("#ticket_7").val());

      if (email.includes("@") && email.includes(".") && email.length > 5 && nom.length > 0 && prenom.length > 0 && adresse.length > 0 && datetime.length > 0) {
        var isBillet = false;

        billets_id.forEach(billet => {
          if (parseInt(billet) > 0)
            isBillet = true;
        });

        if (isBillet) {

          var headers = {"Content-Type": "application/json","Access-Control-Origin": "*", "Expires": ""}

          var data = {nom:nom,prenom:prenom,email:email,adresse:adresse,telephone:telephone,datetime:datetime,rdv:rdv,film:film,billets_id:billets_id}

          fetch("/billet", {
            method: "POST",
            headers: headers,
            body:  JSON.stringify(data)
          })
          .then(function(response){ 
            return response.json(); 
          })
          .then(function(data){ 
            console.log(data)
          });

          alert("Vous avez été débité de 10 000 $ CA.");

        } else {
          alert('Veuillez selectionner au moins un billet.');
        }
        
      }

    });
    
  });
  var total_billet = 0;
</script>

<div class="bodyBillet">
<% if (items !=undefined && items.length>0) {%>
  <form style="margin-left: 20px; width: 90%;" class="form">
    <input class="date" type="date" id="datetime" min="<%= ajrd;%>" max="<%= semaine;%>" required>
    <span class="validity"></span>

    <hr>
    <table>
      <tr>
        <th>
          QUANTITÉ
        </th>
      </tr>

      <% items.forEach(function(item,index) { %>
      <tr>
        <td>
          <select class="select" id="ticket_<%= item._id%>">
            <% for (var j = 0; j <= 20;  j++ ) { %>
            <option value="<%= j %>"><%= j %></option>
            <% } %>
          </select>
          <label for="ticket_<%= item._id%>"><%= item.titre%></label>
        </td>
        <td style="text-align: right;">
          <b> <%= item.prix%> $ CA</b>
        </td>
      </tr>
      <%}); %>

      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rdv" class="option">
            <label class="form-check-label" for="rdv">
              <b> Rendez-vous sous les étoiles </b> (+ 5 $ CA / personne)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="film" class="option">
            <label class="form-check-label" for="film">
              <b> Film </b> (+ 5 $ CA / personne)
            </label>
          </div>
        </td>
      </tr>
      
    </table>

    <br>
    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input type="text" class="form-control" id="prenom" placeholder="Prénom" required>
    </div>
    <hr>
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" class="form-control" id="nom" placeholder="Nom" required>
    </div>
    <hr>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
    </div>
    <hr>
    <div class="mb-3">
      <label for="adresse" class="form-label">Adresse</label>
      <input type="text" class="form-control" id="adresse" placeholder="Adresse" required>
    </div>
    <hr>
    <div class="mb-3">
      <label for="telephone" class="form-label">Telephone</label>
      <input type="text" class="form-control" id="telephone" placeholder="Telephone" aria-describedby="tel">
      <small id="tel" class="form-text" style="color: gray;">Optionnel</small>
    </div>
    <hr>
    <input type="submit" value="Reserver" id="submit" class="btn btn-secondary my-2 submit" disabled onclick="">
    <small id="alerteSubmit" style="color: gray; display: block;">Veuillez choisir au moins un billet</small>
    <hr>
  </form>
  <img id="content-desktop" style="padding: 5%; width: 1500px; height: fit-content;" src="/images/obs.png" alt="">
</div>


  <% items.forEach(function(item,index) { %>
  <script>
    document.getElementById("ticket_<%= item._id%>").onclick = function() {
      if (parseInt(document.getElementById("ticket_<%= item._id%>").value) > 0) {
        document.getElementById("submit").disabled = false;
      }
        total_billet = parseInt(document.getElementById("ticket_1").value) + parseInt(document.getElementById("ticket_2").value) + 
        parseInt(document.getElementById("ticket_3").value) + parseInt(document.getElementById("ticket_4").value) + 
        parseInt(document.getElementById("ticket_5").value) + parseInt(document.getElementById("ticket_6").value) + 
        parseInt(document.getElementById("ticket_7").value);

        if (total_billet == 0){
        document.getElementById("submit").disabled = true;
      }
      if (document.getElementById("submit").disabled){
        document.getElementById("alerteSubmit").style.display = "block";
      } else {
        document.getElementById("alerteSubmit").style.display = "none";
      }
    }
  </script>
  <%}); %>


<% }else {%>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Aucune donnée trouvée.</h1>
        <a href="/" class="btn btn-primary my-2">Retour à l'accueil</a>
        </p>
      </div>
    </div>
  </section>
<% } %>
 
<%- include ('../../partials/footer') %>

<script>
  function addToCart(item){
      sessionStorage.setItem(sessionStorage.length, JSON.stringify(item));
  }
</script>