<%- include ('../../partials/header') %>

<style>
  input, select, a, label, button{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  input { 
    text-align: center; 
  }
  select{
    width: 80px;
    margin: 10px;
  }
  input + span {
    padding-right: 30px;
  }
  table{
    width: 100%;
  }
  table, thead, th, tr { 
    border-bottom: 1px solid lightgray; 
    padding: 5px;
  }
  
</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {    
    var nom,prenom,email,adresse,telephone,datetime,rdv,film,billets_id = [];

    $("#submit").click(function () {

      nom = $("#nom").val();
      prenom = $("#prenom").val();
      email = $("#email").val();
      adresse = $("#adresse").val();
      telephone = $("#telephone").val();
      datetime = $("#datetime").val();
      rdv = $("#rdv").is(':checked');
      film = $("#film").is(':checked');

      billets_id.push($("#ticket_1").val());
      billets_id.push($("#ticket_2").val());
      billets_id.push($("#ticket_3").val());
      billets_id.push($("#ticket_4").val());
      billets_id.push($("#ticket_5").val());
      billets_id.push($("#ticket_6").val());
      billets_id.push($("#ticket_7").val());

      if (email.includes("@") && email.includes(".") && email.length > 5 && nom.length > 0 && prenom.length > 0 && adresse.length > 0 && datetime.length > 0) {
        var isBillet = false;

        billets_id.forEach(tarif => {
          if (parseInt(tarif) > 0)
            isBillet = true;
        });

        if (isBillet) {
          $.post("/billet", { nom:nom,prenom:prenom,email:email,adresse:adresse,telephone:telephone,datetime:datetime,rdv:rdv,film:film,billets_id:billets_id }, 
          function (data) {
            if (data === 'done') {
              window.location.href = "/";
            }
            if (data === 'error') {
              alert('Erreur inconnue');
            }
          });
        } else {
          alert('Veuillez selectionner au moins un billet.');
        }
        
      }
    });

  });
  var total_billet = 0;
</script>

<% if (items !=undefined && items.length>0) {%>
  <br/>
  <form style="margin-left: 20px; width: 50%;">
    <input type="datetime-local" id="datetime" min="08:00:00" max="18:00:00" required>
    <span class="validity"></span>
    <hr>

    <table>
      <tr>
        <th>
          QUANTITÉ
        </th>
      </tr>

      <% items.forEach(function(item,index) { %>
      <tr>
        <td>
          <select id="ticket_<%= item._id%>" xml:id="ticket">
            <% for (var j = 0; j <= 20;  j++ ) { %>
            <option value="<%= j %>"><%= j %></option>
            <% } %>
          </select>
          <%= item.titre%>
        </td>
        <td style="text-align: right;">
          <%= item.prix%> $ CA
        </td>
      </tr>
      <%}); %>

      <tr>
        <td>
          <table style="width: 40%; margin: 10px;">
            <tr>
              <td><label for="rdv">rdv etoiles (+ 5 $ CA / personne)</label></td>
              <td><input id="rdv" type="checkbox" name="rdv" unchecked></td>
            </tr>

            <tr>
              <td><label for="film">film (+ 5 $ CA / personne)</label></td>
              <td><input id="film" type="checkbox" name="film"></td>
            </tr>            
          </table>
        </td>
      </tr>
      
    </table>

    <hr>
    <input type="text" size="50" placeholder="nom" id="nom" required> 
    <hr>
    <input type="text" size="50" placeholder="prenom" id="prenom" required>
    <hr>
    <input type="email" size="50" placeholder="email" id="email" required> 
    <hr>
    <input type="text" size="50" placeholder="adresse" id="adresse" required> 
    <hr>
    <input type="tel" size="50" placeholder="telephone" id="telephone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> 
    <small>optionnel</small>
    <hr>
    <input type="submit" value="Reserver" id="submit" class="" disabled>
    <hr>
  </form>


  <% items.forEach(function(item,index) { %>
  <script>
    document.getElementById("ticket_<%= item._id%>").onclick = function() {
      if (parseInt(document.getElementById("ticket_<%= item._id%>").value) > 0) {
        document.getElementById("submit").disabled = false;
      }
        total_billet = parseInt(document.getElementById("ticket_1").value) + parseInt(document.getElementById("ticket_2").value) + 
        parseInt(document.getElementById("ticket_3").value) + parseInt(document.getElementById("ticket_4").value) + 
        parseInt(document.getElementById("ticket_5").value) + parseInt(document.getElementById("ticket_6").value) + 
        parseInt(document.getElementById("ticket_7").value);

        if (total_billet == 0){
        document.getElementById("submit").disabled = true;
      }
      document.getElementById("nom").value = document.getElementById("rdv").value;
      document.getElementById("prenom").value = document.getElementById("film").value;
    }
  </script>
  <%}); %>


<% }else {%>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Aucune donnée trouvée.</h1>
        <a href="/" class="btn btn-primary my-2" style="background-color: #182030;">Retour à l'accueil</a>
        </p>
      </div>
    </div>
  </section>
<% } %>
 
<%- include ('../../partials/footer') %>