<% if (billet !=undefined) {%>

<body>
    <h2>Mr./Mme. <%= billet.nom%> <%= billet.prenom%></h2> 
    <p>email : <%= billet.email%></p>
    <p>adresse : <%= billet.adresse%></p>
    <%if (billet.telephone > 0) {%>
    <p>Telephone : <%= billet.telephone%></p>
    <% } %>
    <p>Vous avez reservé : <%if (billet.billets_id[0] > 0) {%><br> - <%= billet.billets_id[0]%> billet enfant<% } %>
        <%if (billet.billets_id[1] > 0) {%><br> - <%= billet.billets_id[1]%> billets adolescent<% } %>
        <%if (billet.billets_id[2] > 0) {%><br> - <%= billet.billets_id[2]%> billets jeune adulte<% } %>
        <%if (billet.billets_id[3] > 0) {%><br> - <%= billet.billets_id[3]%> billets adulte<% } %>
        <%if (billet.billets_id[4] > 0) {%><br> - <%= billet.billets_id[4]%> billets ainé<% } %>
        <%if (billet.billets_id[5] > 0) {%><br> - <%= billet.billets_id[5]%> billets étudiant<% } %>
        <%if (billet.billets_id[6] > 0) {%><br> - <%= billet.billets_id[6]%> billets famille<% } %>
    </p>
    <%if (billet.rdv_etoile) {%>
        <p>Option <i>Rendez-vous sous les étoiles</i></p>
    <% } %>
    <%if (billet.film) {%>
        <p>Option <i>Film</i></p>
    <% } %>
    <p>pour le <%= billet.datetime%>.</p> 
</body>

<% }else {%>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Aucun billet trouvé.</h1>
                <h2 class="fw-light">Nous nous excusons pour cet inconvénient.</h2>
                <a href="/" >Retour à l'accueil</a>
            </div>
        </div>
    </section>
<% } %>