<%- include ('../partials/header') %>

<!-- Fitre-->
<div class="categorie_filter">
    <ul>
       
        <li>
            <input class="input_" id="blick" type="checkbox">
            <label class="input" for="blick"></label>
            <a href="#">Black</a>
            
        </li>
        <li>
            <input class="input" id="orange" type="checkbox">
            <label class="input" for="orange"></label>
            <a href="#">Orange</a>
        </li>
        <li>
            <input class="input" id="blue" type="checkbox">
            <label class="input" for="blue"></label>
            <a href="#">Blue</a>
        </li>
        <li>
            <input class="input" id="yellow" type="checkbox">
            <label class="input" for="yellow"></label>
            <a href="#">Yellow</a>
        </li>
    </ul>
</div>

<% if (items !=undefined && items.length>0) {%>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% items.forEach(function(item,index){ %>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="<%= item.image%>" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"><%= item.titre%></h5>
                                <!-- Product price-->
                                <%= item.prix%>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ajouter</a></div>
                        </div>
                    </div>
                </div>
            <%}); %>
        </div>
    </div>
</section>

<% }else {%>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Aucune donnée trouvée.</h1>
          <a href="/" class="btn btn-primary my-2" style="background-color: #182030;">Retour à l'accueil</a>
          </p>
        </div>
      </div>
    </section>
    <% } %>

<%- include ('../partials/footer') %>