<%- include ('../partials/header') %>


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<% if (items !=undefined && items.length>0) {%>

<main>

<section class="py-5 text-center container">
<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">Activitées du moment</h1>
    <p class="lead text-muted">Ici, vous pourrez découvrir nos lorem ipsum dolor sit amet, 
      consectetur adipiscing elit. Etiam in facilisis justo. Mauris pretium egestas nisi, 
      non elementum justo blandit quis. Pellentesque id neque pellentesque, mollis lectus et, sollicitudin felis.</p>
    <p>
      <a href="/expo" class="btn btn-primary my-2">Voir les expositions</a>
      <a href="/reservation" class="btn btn-secondary my-2">Reserver en ligne</a>
    </p>
  </div>
</div>
</section>

<div class="album py-5 bg-light">
<div class="container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% items.forEach(function(item,index){ %>

    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" 
        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"/>
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          <image xlink:href="<%= item.Image %>" 
          x="0" y="0" style="max-width:500px; height:270px;"/>
        </svg>

        <div class="card-body">
          <h5><%= item.Titre %></h5>
          <p class="card-text"><%= item.Description %></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Détails</button>
            </div>
            <small class="text-muted"><%= item.Duree %></small>
          </div>
        </div>
      </div>
    </div>

    <%}); %>
    
  </div>
</div>
</div>

<% }else {%>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Aucune données trouvée.</h1>
          <a href="/" class="btn btn-primary my-2">Retour à l'accueil</a>
        </p>
      </div>
    </div>
    </section>
<% } %>

</main>

<%- include ('../partials/footer') %>