<%- include ('../partials/header') %>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } 
</style>

<% if (items !=undefined && items.length>0) {%>

<% isEnCours = new Boolean %>
<% isEnCours = false %>

<% isFutur = new Boolean %>
<% isFutur = false %>

<% items.forEach(function(item,index){ %>
  <% if (item.DateDebut > new Date()) {%>
    <% isFutur = true %>
  <% }else {%>
    <% if (item.DateFin > new Date()) {%>
      <% isEnCours = true %>
    <% } %>
  <% } %>
<%}); %>

<main>

  <% if (isEnCours) {%>

  <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Expositions à l'affiche</h1>
      </p>
    </div>
  </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
        <% items.forEach(function(item,index){ %>

        <% if (item.DateDebut <= new Date() && item.DateFin > new Date()){ %>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" 
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              <image xlink:href="<%= item.Image %>" 
              x="0" y="0" style="max-width:500px; height:230px;"/>
            </svg>
    
            <div class="card-body">
              <h5><%= item.Titre %></h5>
              <p class="card-text"><%= item.Description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Détails</button>
                </div>
                <small class="text-muted"><%= item.Duree %></small>
              </div>
            </div>
          </div>
        </div>
    
        <% } %>

        <%}); %>

      </div>
    </div>
  </div>

  <% }else {%>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Aucune exposition en ce moment</h1>
            <a href="/experiences" class="btn btn-primary my-2" style="background-color: #182030;">Voir les activitées</a>
            <a href="/rdv_etoiles" class="btn btn-secondary my-2">Rendez vous sous les étoiles</a>
          </p>
        </div>
      </div>
      </section>

  <% } %>
  
  
  <% if (isFutur) {%>

    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Expositions à venir</h1>
      </div>
    </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
          <% items.forEach(function(item,index){ %>
  
          <% if (item.DateDebut > new Date() && item.DateFin > new Date()){ %>
  
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" 
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                <image xlink:href="<%= item.Image %>" 
                x="0" y="0" style="max-width:500px; height:230px;"/>
              </svg>
      
              <div class="card-body">
                <h5><%= item.Titre %></h5>
                <p class="card-text"><%= item.Description %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Détails</button>
                  </div>
                  <small class="text-muted"><%= item.Duree %></small>
                </div>
              </div>
            </div>
          </div>
      
          <% } %>
  
          <%}); %>
  
        </div>
      </div>
    </div>
  
    <% }else {%>
  
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Aucune exposition à venir</h1>
              <a href="/experiences" class="btn btn-primary my-2" style="background-color: #182030;">Voir les activitées</a>
              <a href="/rdv_etoiles" class="btn btn-secondary my-2">Rendez vous sous les étoiles</a>
            </p>
          </div>
        </div>
        </section>
  
    <% } %>
  
</main>

<% }else {%>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Aucune donnée trouvée.</h1>
          <a href="/" class="btn btn-primary my-2" style="background-color: #182030;">Retour à l'accueil</a>
        </p>
      </div>
    </div>
    </section>
<% } %>

<%- include ('../partials/footer') %>