<%- include ('../partials/header') %>


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <h1>Exposition temporaire</h1> <br>

  <div class="container marketing">

    <!-- START THE FEATURETTES -->
    <% if (items !=undefined && items.length>0) {%>

      <h2>En ce moment</h2>
      <hr class="featurette-divider">
      <br> <br> <br> <br> <br> <br>

      <% items.forEach(function(item,index){ %>

      <% if (item.DateDebut < new Date() && item.DateFin > new Date()) {%>

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              <%= item.Titre %>
            </h2>
            <p class="lead">
              <%= item.Description %>
            </p> 
          </div>
          <div class="col-md-5">
            
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
              height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice" focusable="false">
                
                <image style="max-width:500px; height:400px; border: solid 1px #ccc" 
                xlink:href="<%= item.Image %>" x="0" y="0" />
            </svg>

          </div>
        </div>

        <hr class="featurette-divider">
        <% }else {%>
        <% } %>

        <%}); %>

          <!-- /END THE FEATURETTES -->
          <% }else {%>
            <h1>NOT FOUND</h1>
          <% } %>
  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, In. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
  </main>


  <script src="/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


  </body>

  </html>

  <%- include ('../partials/footer') %>