<%- include ('../partials/header') %>



	<% if (items !=undefined && items.length>0) {%>

			<div class="row py-lg-5" style="text-align: center;">
			  <div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Bienvenue au Musée des Astres</h1>
				<p class="lead text-muted"></p>
		  
				  <a href="/billeterie" class="btn btn-secondary my-2">Réserver en ligne</a>
				
			  </div>
			</div>


		<div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel"
			style="width: 800px; margin-left: auto; margin-right: auto;">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<% var link = "experiences"%>
				<% if (items[0].date_fin != undefined){
					link = "expositions"
				} %>
				<div class="carousel-item active" >
					<a href="/<%= link%>"><img src="<%= items[0].image %>" class="d-block w-100" alt="..."></a>
					<div class="carousel-caption d-none d-md-block">
						<h4><%= items[0].titre %></h4>
						<p class="car-text"><%= items[0].desc %></p>
					</div>
				</div>
				<% var link = "experiences"%>
				<% if (items[1].date_fin != undefined){
					link = "expositions"
				} %>
				<div class="carousel-item">
					<a href="/<%= link%>"><img src="<%= items[1].image %>" class="d-block w-100" alt="..."></a>
					
					<div class="carousel-caption d-none d-md-block">
						<h4>
							<%= items[1].titre %>
						</h4>
						<p>
							<%= items[1].desc %>
						</p>
					</div>
				</div>
				<% var link = "experiences"%>
				<% if (items[2].date_fin != undefined){
					link = "expositions"
				} %>
				<div class="carousel-item">
					<a href="/<%= link%>"><img src="<%= items[2].image %>" class="d-block w-100" alt="..."></a>
					<div class="carousel-caption d-none d-md-block">
						<h4>
							<%= items[2].titre %>
						</h4>
						<p>
							<%= items[2].desc %>
						</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev"
				style="margin-left: -110px!important;">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next"
				style="margin-right: -110px!important;">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</button>
		</div>


		<div class="album py-5">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

					<% nombreActu=0 %>
					<% items.forEach(function(item,index){ %>
					<% nombreActu++ %>
					<% if (nombreActu> 3 && nombreActu < 10) {%>
					<% var type %>

					<% if (item.date_fin>= 0 ) {%>
					<% type="/expositions" %>
					<% }else {%>
					<% type="/experiences" %>
					<%}%>

						<div class="col">
							<div class="card shadow-sm ">

								<a href="<%= type%>">
									<svg class="bd-placeholder-img card-img-top actu"
										width="100%" height="225"
										xmlns="http://www.w3.org/2000/svg"
										role="img"
										aria-label="Placeholder: Thumbnail"
										preserveAspectRatio="xMidYMid slice"
										focusable="false">
										<rect width="100%" height="100%"
											fill="#55595c" />
										<image xlink:href="<%= item.image %>"
											class="actuimage" x="0" y="0"
											style="max-width:700px; height:250px;" />
										<text x="5%" y="90%" fill="#eceeef"
											dy=".3em" style="font-size: 20; font-weight:bolder; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
stroke: black; stroke-width: 1px;">
											<%= item.titre %>
										</text>
									</svg>
								</a>

								<div class="actuMiddle"></div>

							</div>

						</div>
						<%}; %>
						<%}); %>
				</div>
			</div>
		</div>
	</div>

	<% }else {%>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">Aucune donnée trouvée.</h1>
					<h2 class="fw-light">Nous nous excusons pour cet inconvénient</h2>
				</div>
			</div>
		</section>
	<% } %>
		
	<div id="container-gallery">
		<div class="photobanner">
			<% for (let i = 0; i < 17; i++) {%>
				<img src="/images/slideshow/<%= i%>.png">
			<% }%>
			<% for (let i = 0; i < 17; i++) {%>
				<img src="/images/slideshow/<%= i%>.png">
			<% }%>
		</div>
	  </div>
	
	
	
<%- include ('../partials/footer') %>