<%- include ('../partials/header') %>



	<% if (items !=undefined && items.length>0) {%>

		<br><br>
		
		<h1 class="fw-light" style="font-size: 70px;text-align: center;">Bienvenue au Musée des Astres</h1>
		<br><br>
		
		
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
	<div class="carousel-indicators">
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	  <% var link = "activites"%>
		  <% if (items[0].date_fin != undefined){
			  link = "expositions"
		  } %>
		  <div class="carousel-item active" data-bs-interval="2000">
			  <a href="/<%= link%>"><img src="<%= items[0].image %>" class="d-block w-100" alt="...">
			  <div class="carousel-caption d-none d-md-block">
				  <h4><%= items[0].titre %></h4>
				  <p class="car-text"><%= items[0].desc %></p>
			  </div></a>
		  </div>
	  <% var link = "activites"%>
		  <% if (items[1].date_fin != undefined){
			  link = "expositions"
		  } %>
		  <div class="carousel-item" data-bs-interval="2000">
			  <a href="/<%= link%>"><img src="<%= items[1].image %>" class="d-block w-100" alt="...">
  
			  <div class="carousel-caption d-none d-md-block">
				  <h4>
					  <%= items[1].titre %>
				  </h4>
				  <p>
					  <%= items[1].desc %>
				  </p>
			  </div></a>
		  </div>
		  <% var link = "activites"%>
		  <% if (items[2].date_fin != undefined){
			  link = "expositions"
		  } %>
		  <div class="carousel-item" data-bs-interval="2000">
			  <a href="/<%= link%>"><img src="<%= items[2].image %>" class="d-block w-100" alt="...">
			  <div class="carousel-caption d-none d-md-block">
				  <h4>
					  <%= items[2].titre %>
				  </h4>
				  <p>
					  <%= items[2].desc %>
				  </p>
			  </div></a>
		  </div>
	  </div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="margin-left: -110px!important;">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="margin-right: -110px!important;">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>
  

		
		<br>
		<div style="text-align: center; margin-left: auto; margin-right: auto; width: 800px;">
			<p class="lead text-muted">Depuis 1996, notre établissement a pour but de présenter au grand public la beauté des Astres.
				Pour ses magnifiques expositions, ses activités incroyables et ses évènements uniques, les Musée a tant à offrir.
				<br><br>
				Voyez ce qu'il y a de neuf au musée, et réservez votre billet dès maintenant:
			</p>
			  <a href="/billeterie" class="btn btn-secondary my-2">Réserver en ligne</a>
		  </div>




		<br><br>
		
		<h1 class="fw-light" style="text-align: center;">À l'affiche ce mois-ci</h1>
		<br>
		<% for (i=0; i < items.length; i++){ %>
			
			<% if (items[i].salle == "A") {%>
				
				<div id="movie-container">
					<a href="billeterie" style="text-decoration:none"><img src="<%= items[i].image %>" class="movie-image" width="700px"/>
					<p class="movie-title" style="font-size: xxx-large;font-style: italic; "> <%=items[i].titre%></p>
					<p class="movie-title" style="font-size: larger;"> <%-items[i].desc%></p></a>
				</div>
			<% break; %>
			<%}%>
			<%}%>
		<br><br>
		<h1 class="fw-light" style="text-align: center;">Expositions et activitées récentes</h1>
		<br>

		<!-- Code album -->
		
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				
				<% var temp = 0;%>

				<% items.forEach(function(item,index){ %>

					<%if (temp < 2) {%>

						<% temp++; %>

					<%} else if (!(item.salle == "A" && item.date_fin >= 0) && temp < 8) {%>

					<% var type;%>
                    <% if (item.date_fin>=0 ) {%>
                            <% type="/expositions"; %>
                        <% }else {%>
                            <% type="/activites"; %>
                    <%}%>

					<div class="col" > 
						<div class="card" style="height: 290px; border: 0ch;">
							<a href="<%= type %>">
								<div id="affiche">
									<img src="<%= item.image %>" style="max-width: 420px; min-width: 420px;"/>
									<div class="affiche-hide">
										<p style="margin-top: -10px;"><%- item.titre %></p>
										<p style="font-size:small!important; margin-top: -16px;"><%- item.desc %></p>
									</div>
								</div>
							</a>
						</div>
					</div>
					
					<% temp++; %>

					<%}%>

				<%});%>
				</div>
			</div>
		</div>

	<% }else {%>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">Aucune donnée trouvée.</h1>
					<h2 class="fw-light">Nous nous excusons pour cet inconvénient</h2>
				</div>
			</div>
		</section>
	<% } %>

	<div id="container-gallery">
		<a href="https://www.space.com/wallpapers">
		<div class="photobanner">
			<% for (let i = 0; i < 17; i++) {%>
				<img src="/images/slideshow/<%= i%>.png">
			<% }%>
			<% for (let i = 0; i < 17; i++) {%>
				<img src="/images/slideshow/<%= i%>.png">
			<% }%>
		</div></a>
	  </div>



<%- include ('../partials/footer') %>
