<%- include ('../../partials/header') %>

<style>
    input, select, a, label, p{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    input, label{
        display:none;
    }
    a{
        color: black;
    }
</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        var type,titre,date_debut,date_fin,duree,salle,image,particip_max,desc,prix,quantite,magasin,tags;
        $("#submit").click(function(){
            type=$("#type").val();
            titre=$("#titre").val();
            date_debut=$("#date_debut").val();
            date_fin=$("#date_fin").val();
            duree=$("#duree").val();
            salle=$("#salle").val();
            image=$("#image").val();
            particip_max=$("#particip_max").val();
            desc=$("#desc").val();
            prix=$("#prix").val();
            quantite=$("#quantite").val();
            magasin=$("#magasin").val();
            tags=$("#tags").val();
            /*
            * Perform some validation here.
            */
            $.post("/admin",{type:type,titre:titre,date_debut:date_debut,date_fin:date_fin,duree:duree,salle:salle,image:image,particip_max:particip_max,desc:desc,
                prix:prix,quantite:quantite,magasin:magasin,tags:tags},function(data){
                if(data==='done') {
                    window.location.href="/admin";
                }
            });
        });
    });
</script>

<body >
    <br/>
    <select id="type">
        <option disabled selected value> Choisir la table </option>
        <option value="activites">activites</option>
        <option value="expositions">expositions</option>
        <option value="shop">shop</option>
    </select> 
    <input type="text" placeholder="titre" id="titre">
    <label for="date_debut" id="p_debut">date_debut :</label>
    <input type="datetime-local" placeholder="date_debut" id="date_debut">
    <label for="date_fin" id="p_fin">date_fin :</label>
    <input type="datetime-local" placeholder="date_fin" id="date_fin">
    <input type="number" placeholder="duree" id="duree">
    <input type="text" placeholder="salle" id="salle">
    <input type="number" placeholder="prix" id="prix">
    <input type="number" placeholder="quantite" id="quantite">
    <label for="magasin" id="p_dispo">Disponible ?</label>
    <input type="checkbox" id="magasin">
    <input type="text" placeholder="image" id="image">
    <input type="number" placeholder="particip_max" id="particip_max">
    <input type="text" placeholder="description" id="desc">
    <input type="text" placeholder="tags" id="tags">
    <input type="button" value="Enregistrer" id="submit">

    <script>
        document.getElementById("type").onclick = function() {
            if (document.getElementById("type").value == "activites"){
                document.getElementById("titre").style.display = "block";
                document.getElementById("date_debut").style.display = "block";
                document.getElementById("date_fin").style.display = "none";
                document.getElementById("duree").style.display = "block";
                document.getElementById("salle").style.display = "block";
                document.getElementById("image").style.display = "block";
                document.getElementById("particip_max").style.display = "block";
                document.getElementById("desc").style.display = "block";
                document.getElementById("prix").style.display = "none";
                document.getElementById("quantite").style.display = "none";
                document.getElementById("magasin").style.display = "none";
                document.getElementById("tags").style.display = "none";
            } else if (document.getElementById("type").value == "expositions") {
                document.getElementById("titre").style.display = "block";
                document.getElementById("date_debut").style.display = "block";
                document.getElementById("date_fin").style.display = "block";
                document.getElementById("duree").style.display = "block";
                document.getElementById("salle").style.display = "block";
                document.getElementById("image").style.display = "block";
                document.getElementById("particip_max").style.display = "block";
                document.getElementById("desc").style.display = "block";
                document.getElementById("prix").style.display = "none";
                document.getElementById("quantite").style.display = "none";
                document.getElementById("magasin").style.display = "none";
                document.getElementById("tags").style.display = "none";
            } else if (document.getElementById("type").value == "shop") {
                document.getElementById("titre").style.display = "block";
                document.getElementById("date_debut").style.display = "none";
                document.getElementById("date_fin").style.display = "none";
                document.getElementById("duree").style.display = "none";
                document.getElementById("salle").style.display = "none";
                document.getElementById("image").style.display = "block";
                document.getElementById("particip_max").style.display = "none";
                document.getElementById("desc").style.display = "block";
                document.getElementById("prix").style.display = "block";
                document.getElementById("quantite").style.display = "block";
                document.getElementById("magasin").style.display = "block";
                document.getElementById("tags").style.display = "block";
            }
            document.getElementById("p_debut").style.display = document.getElementById("date_debut").style.display;
            document.getElementById("p_fin").style.display = document.getElementById("date_fin").style.display;
            document.getElementById("p_dispo").style.display = document.getElementById("magasin").style.display;
            document.getElementById("submit").style.display = "block";
        }
    </script>

    <br>
    <div>
        <p>Reservations :</p>
        <%items.forEach(function(item,index){%>
            <a href="/billet/<%= item._id.toString()%>" target="_blank"><%= item.prenom%> <%= item.nom%></a>
        <%}); %>
    </div>

    <br> <br> <br>
    <a id="centre" href="/logout">logout</a>
</body>

<%- include ('../../partials/footer') %>