<%- include ('../../partials/header') %>

    <style>
        .main-container{
            width: fit-content;;
            margin-left: auto;
            margin-right: auto;
        }
        .main {
            display: flex;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width: 1300px;
            justify-content:start;
            align-items:start;
            margin-top: 50px;
            margin-bottom: 200px;
            vertical-align:top!important;
        }
        .option {
            margin-left: 30px;
            width: 300px;
            height: 535px;
            display: flex;
            justify-content:start;
            align-items:start;
            padding-top: 30px!important;
        }

        .post {
            margin-left: 30px;
            display: none;
            width: 600px;
            height: 535px;
            padding: 30px;
            overflow-x: hidden;
        }

        input, textarea {
            margin-top: 12px;
        }
        .barre{
            display: none;
            margin-left: 30px;
            width: 300px;
            height: 535px;
            justify-content: center;
            align-items: center;
        }
        .liste {
            margin-left: 30px;
            display: none;
            height: 535px;
            padding: 30px;
            width: fit-content;
            font-size: larger;
            overflow-x: hidden;
        }

        .center {
            width: fit-content;
            height: fit-content;
        }

        .bouton {
            display: block;
            width: 250px!important;
            margin-left: auto;
            margin-right: auto;
            font-size: larger;
            background-color: #222d44;
        }

        .date {
            border-color: #222d44;
            border-width: 3px;
            width: 200px;
        }

        .submit {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            font-size: large;
        }

        .logout {
            text-decoration: none;
        }

        .out {
            background-color: gray;
            font-size: large;
            display: block;
            font-size: larger;
            margin-left: auto;
            margin-right: auto;
        }
        .reserv_item{
            width: 300px;
        }
        body>*{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
        }
    </style>
    <br><br>
<div style="max-width:80%; margin:auto; width: fit-content; text-align: center;">
    <h1 class="fw-light" style="font-size:xxx-large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: normal!important;">Accès Admin<span style="padding-left: 15px; font-size: xx-large;"><i class="fas fa-user-lock" style="transform:translate(0px, -5px);"></span></i></h1>
  </div>
  <div class="main-container">
    <div class="main">
        <div class="option">
            <div class="center">
                <button class="btn btn-primary my-2 bouton" id="inser">
                    Insérer dans la table
                </button>
                <button class="btn btn-primary my-2 bouton" id="reserv">
                    Voir les réservations
                </button>
                <br><br>
                <a class="logout" href="/logout"><button class="btn btn-danger my-2 out bouton">Déconnexion</button></a>
            </div>
        </div>
        <div class="option" id="tables" style="display: none;">
            <div class="center">
                <button class="btn btn-secondary my-2 bouton" id="btn-act">
                    Activitées
                </button>
                <button class="btn btn-secondary my-2 bouton" id="btn-exp">
                    Expositions
                </button>
                <button class="btn btn-secondary my-2 bouton" id="btn-shop">
                    Boutique
                </button>
            </div>
        </div>
        <div class="post" id="activitees">
            <input type="text" class="form-control" placeholder="titre" id="act-titre">
            <label for="act-date_debut" class="date" id="act-p_debut">date_debut :</label>
            <input type="datetime-local" class="date" placeholder="date_debut" id="act-date_debut"> <br>
            <input type="number" class="form-control" placeholder="duree" id="act-duree">
            <input type="text" class="form-control" placeholder="salle" id="act-salle">
            <input type="text" class="form-control" placeholder="image" id="act-image">
            <input type="number" class="form-control" placeholder="particip_max" id="act-particip_max">
            <input type="text" class="form-control" placeholder="description" id="act-desc">
            <textarea name="textarea" class="form-control" placeholder="Description longue" id="act-long"></textarea>
            <input type="button" class="btn btn-secondary my-2 submit" value="Enregistrer" id="act-submit">
        </div>
        <div class="post" id="expo">
            <input type="text" class="form-control" placeholder="titre" id="exp-titre">
            <label for="exp-date_debut" class="date" id="exp-p_debut">date_debut :</label>
            <input type="datetime-local" class="date" placeholder="date_debut" id="exp-date_debut"> <br>
            <label for="exp-date_fin" class="date" id="exp-p_fin">date_fin :</label>
            <input type="datetime-local" class="date" placeholder="date_fin" id="exp-date_fin"> <br>
            <input type="number" class="form-control" placeholder="duree" id="exp-duree">
            <input type="text" class="form-control" placeholder="salle" id="exp-salle">
            <input type="text" class="form-control" placeholder="image" id="exp-image">
            <input type="number" class="form-control" placeholder="particip_max" id="exp-particip_max">
            <input type="text" class="form-control" placeholder="description" id="exp-desc">
            <textarea name="textarea" class="form-control" placeholder="Description longue" id="exp-long"></textarea>
            <input type="button" class="btn btn-secondary my-2 submit" value="Enregistrer" id="exp-submit">
        </div>
        <div class="post" id="shop">
            <input type="text" class="form-control" placeholder="titre" id="shop-titre">
            <input type="number" class="form-control" placeholder="prix" id="shop-prix">
            <input type="number" class="form-control" placeholder="quantite" id="shop-quantite">
            <input type="checkbox" class="form-check-input" id="shop-magasin">
            <label for="shop-magasin" class="form-check-label" id="shop-p_dispo">Disponible ?</label>
            <input type="text" class="form-control" placeholder="image" id="shop-image">
            <input type="text" class="form-control" placeholder="description" id="shop-desc">
            <input type="text" class="form-control" placeholder="tags" id="shop-tags">
            <input type="button" class="btn btn-secondary my-2 submit" value="Enregistrer" id="shop-submit">
        </div>

        <div class="barre" id="barre">
            <input id="searchbar" onkeyup="search_reserv()" type="text"
            name="search" class="form-control" placeholder="Chercher une réservation">
        </div>
        <div class="liste" id="reservations">
            <div class="list-group">
                <%items.forEach(function(item,index){%>
                    <a href="/billet/<%= item._id.toString()%>" target="_blank"
                        class="list-group-item list-group-item-action reserv_item">
                        <%= item.prenom%>
                            <%= item.nom%>
                    </a>
                <%}); %>
            </div>
        </div>
    </div>
</div>


    <script>
        document.getElementById("inser").onclick = function () {
            document.getElementById("inser").style.backgroundColor = "#222d44";
            document.getElementById("reserv").style.backgroundColor = "gray";

            document.getElementById("tables").style.display = "flex";
            document.getElementById("reservations").style.display = "none";
            document.getElementById("barre").style.display = "none";
        }

        document.getElementById("reserv").onclick = function () {
            document.getElementById("reserv").style.backgroundColor = "#222d44";
            document.getElementById("inser").style.backgroundColor = "gray";

            document.getElementById("tables").style.display = "none";
            document.getElementById("reservations").style.display = "flex";
            document.getElementById("barre").style.display = "flex";

            document.getElementById("expo").style.display = "none";
            document.getElementById("shop").style.display = "none";
            document.getElementById("activitees").style.display = "none";
        }



        document.getElementById("btn-act").onclick = function () {
            document.getElementById("btn-act").style.backgroundColor = "#222d44";
            document.getElementById("btn-exp").style.backgroundColor = "gray";
            document.getElementById("btn-shop").style.backgroundColor = "gray";

            document.getElementById("expo").style.display = "none";
            document.getElementById("shop").style.display = "none";
            document.getElementById("activitees").style.display = "block";
        }
        document.getElementById("btn-exp").onclick = function () {
            document.getElementById("btn-act").style.backgroundColor = "gray";
            document.getElementById("btn-exp").style.backgroundColor = "#222d44";
            document.getElementById("btn-shop").style.backgroundColor = "gray";

            document.getElementById("activitees").style.display = "none";
            document.getElementById("shop").style.display = "none";
            document.getElementById("expo").style.display = "block";
        }
        document.getElementById("btn-shop").onclick = function () {
            document.getElementById("btn-act").style.backgroundColor = "gray";
            document.getElementById("btn-exp").style.backgroundColor = "gray";
            document.getElementById("btn-shop").style.backgroundColor = "#222d44";

            document.getElementById("expo").style.display = "none";
            document.getElementById("activitees").style.display = "none";
            document.getElementById("shop").style.display = "block";
        }
    </script>

    <script>
        function search_reserv() {
            let input = document.getElementById('searchbar').value
            input = input.toLowerCase();
            let liste = document.getElementsByClassName('reserv_item');

            for (i = 0; i < liste.length; i++) {
                if (!liste[i].innerHTML.toLowerCase().includes(input)) {
                    liste[i].style.display = "none";
                }
                else {
                    liste[i].style.display = "block";
                }
            }
        }
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var type, titre, date_debut, date_fin, duree, salle, image, particip_max, desc, prix, quantite, magasin, tags;

            // POST activitées
            $("#act-submit").click(function () {

                type = "activites";
                titre = $("#act-titre").val();
                date_debut = $("#act-date_debut").val();
                duree = $("#act-duree").val();
                salle = $("#act-salle").val();
                image = $("#act-image").val();
                particip_max = $("#act-particip_max").val();
                desc = $("#act-desc").val();
                long = $("#act-long").val();
                /*
                * Perform some validation here.
                */
                var headers = { "Content-Type": "application/json", "Access-Control-Origin": "*", "Expires": "" }

                var data = {
                    type: type, titre: titre, date_debut: date_debut, duree: duree, salle: salle, image: image, particip_max: particip_max, desc: desc
                }

                fetch("/admin", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify(data)
                })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        console.log(data)
                    });

                    location.reload();
            });

            // POST expositions
            $("#exp-submit").click(function () {

                type = "expositions";
                titre = $("#exp-titre").val();
                date_debut = $("#exp-date_debut").val();
                date_fin = $("#exp-date_fin").val();
                duree = $("#exp-duree").val();
                salle = $("#exp-salle").val();
                image = $("#exp-image").val();
                particip_max = $("#exp-particip_max").val();
                desc = $("#exp-desc").val();
                long = $("#exp-long").val();
                /*
                * Perform some validation here.
                */
                var headers = { "Content-Type": "application/json", "Access-Control-Origin": "*", "Expires": "" }

                var data = {
                    type: type, titre: titre, date_debut: date_debut, date_fin: date_fin, duree: duree,
                    salle: salle, image: image, particip_max: particip_max, desc: desc, long: long
                }

                fetch("/admin", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify(data)
                })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        console.log(data)
                    });

                    location.reload();
            });

            // POST boutique
            $("#shop-submit").click(function () {

                type = "shop";
                titre = $("#shop-titre").val();
                image = $("#shop-image").val();
                desc = $("#shop-desc").val();
                prix = $("#shop-prix").val();
                quantite = $("#shop-quantite").val();
                magasin = $("#shop-magasin").val();
                tags = $("#shop-tags").val();
                /*
                * Perform some validation here.
                */
                var headers = { "Content-Type": "application/json", "Access-Control-Origin": "*", "Expires": "" }

                var data = {
                    type: type, titre: titre, image: image, desc: desc, prix: prix, quantite: quantite, magasin: magasin, tags: tags
                }

                fetch("/admin", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify(data)
                })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        console.log(data)
                    });

                location.reload();
            });
        });
    </script>

<%- include ('../../partials/footer') %>
